# Ignore BenchmarkDotNet artifacts
BenchmarkDotNet.Artifacts/

# Ignore build and obj folders
bin/
obj/

# Ignore Visual Studio or Rider-specific files (facultatif)
.vs/
.idea/

*.DotSettings.user
*.csproj.user
*.suo
*.userosscache
*.sln.docstates
